@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body{
    background-image: url(../pictures.jpg/thumbnail_bakgrunn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  margin: 0;
}

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px)
{
  .container{
    max-width: 1140px;
  }
}

.d-flex{
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}

form{
  flex: 4;
}

.Orderinfo{
  flex: 2;
}

.title{
  background: black;
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: white;
}

h2 {
  margin: 0;
  padding-left: 15px; 
}

.required{
  color: red;
}

label, table{
  display: block;
  margin: 15px;
}
label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}

input[type="text"], input[type="tel"], input[type="email"], select
{
  width: 55%;
  height: 28px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #0b0b0b;
}

select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.Orderinfo {
  margin-top: 15px;
  height: 400px;
  padding: 20px;
  border: 1px solid #dadada;
}

table{
  margin: 0;
  padding: 0;
}

th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}

tr>td:nth-child(1){
  text-align: left;
  color: black;
}

tr>td:nth-child(2){
  text-align: right;
  color: #02697b;
}

td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}


.Orderinfo>div{
  padding: 5px; 
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #508690;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
  background: #0a4861;
}