/*index*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: white;
  height: 170px;
  border: solid; 
  border-width: 2px;
  width: 99,9%;
}

.logo {
  display: flex;
  width: 280px;
  height: 100%;
  margin: 8px 30px;
}

ul {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 50px;
}

.item {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  border: groove;
  color: black;
  border-radius: 10px;
  border-width: 2px;
  margin: 2em;
}

.hamburger-icon, #hamburger {
  display: none;
}

.fa-cart-shopping {
  margin-top: 64px;
  margin-right: 40px;
}


h1 {
  font-size: 60px;
  color:#ffffff;
  text-align: center;
  margin-top: 190px;
}

h2 {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}


@media(max-width: 1080px){
  .item {
      margin: 10px;
  }
}

@media screen and (max-width: 980px) {
  body {
      color: black; background-color: white;
  }
  .hamburger {
      display: inline-block;
  }
}

@media(max-width: 850px){
  nav {
      display: none;
      position: absolute;
      right: 10px;
      top: 50px;
  }

  /* .fa-cart-shopping {
    margin: 0;
  } */

  nav a {
      display: block;
  }

  .hamburger-icon {
      display: block;
  }

  #hamburger:checked ~ nav {
      display: block;
  }
}