
main {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


img {
    width: 100%;
}

@media (max-width:500px){
    main{
        grid-template-columns: 1fr;
    }
}