@media (min-width:600px) and (max-width: 1200px){
}

.container {
    display: flex;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

.logo {
    max-width: 300px;
    margin-left: 30px;
}

.topnav {
    background-color: #ffffff;
    width: cover;
    height: 170px;
    border: solid; 
    border-width: 1px;
}

.floated {
    color: black;
    text-decoration: none;
    border: groove;
    border-width: 2px;
    border-radius: 10px;
    margin: 1em;
    padding: 8px;
}

ul {
    text-align: right;
    list-style: none;
    margin-top: -200px;
}

li {
    float: right
}

.item {
    flex: 1;
    padding: 10px;
    margin: 90px;
    justify-content: center;
    font-size: 25px;
}

body {
  margin: 0;  
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-top: 70px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 50px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 8px;
}


.jackets {
    border: solid;
    border-color: black;
    border-width: 1px;
    }

.column {
    float: left;
    width: 320px;
    padding: 20px;
    height: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.product-image {
    background-color: #d9d9d9;
    width: auto;
    height: 400px;
    padding: 10px;
    margin: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 8px;
}




/*jacket spesific*/

body.jacketspesific {
    background-color: #ffffff;
}


h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.text {
    margin-left: 100px;
    margin-right: 200px;
}

.container {
    display: flex;
}


.properties {
    margin-left: 660px;
    margin-top: -100px;
    align-items: left;
    padding: 0px;
}

input {
    font-size: 18px;
    width: 150px;
    height: 60px;
    padding: 12px;
    border: solid, 2px;
    border-radius: 6px;
    border-color: black;
    background-color: #ffffff;
    margin-left: 660px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.properties p, h4 {
    display: inline-block;
    margin: 0px;
    padding-bottom: 20px;
}

.text h1, h2 {
    display: inline-block;
}

label {
    font-size: 18px;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 200px; 
    margin-left: 0px;
    margin-top: 50px;
}

option {
    width: 500px;
}

.symbols {
    display: inline-block;
    word-spacing:100px;
    margin-left: 30px;
    margin-top: 20px;
}

.writings {
    word-spacing: 50px;
    margin-left: 12px;
    margin-top: 20px;
}