@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

img {
    width: 100%;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    margin-top: 70px;
    color: black;
    text-align: left;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-left: 190px;
}

h1, h2 {
    display: inline;
    justify-content: space-between;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 40px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 20px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
}

.icons {
    word-spacing: 7.8em;
    margin-left: 28px;
    margin-bottom: 15px;
}

#two {
    word-spacing: 6em;
    margin-bottom: 40px;
}

#size {
    font-family: 'Roboto Condensed', sans-serif;
}

.addtocart {
    float: right;
}

input[type=submit] {
    background-color: white;
    border: solid;    
    border-radius: 10px;
    border-width: 1px;
    font-size: medium;
    font-weight: bold;
    color:black;
    padding: 16px 26px;
    cursor: pointer;
    display: block;
    margin-top: 40px;
}

@media (max-width:500px){
    main{
        grid-template-columns: 1 fr;
    }
}