@media only screen and (min-width:320px) and (max-width: 1400px)  {
  body {
    width: 100%;
  }  
}


/*about*/

body{
    background-color: #658087;
    margin: 0;
}

h1 {
text-align: left; 
margin-left: 15px; 
margin-top: 80px;
}

p {
font-size: 26px; 
margin-left: 15px; 
margin-top: 80px;
color: white;
}

.floated-right {
    position: relative;
    float: right;
    margin-top: 10px;
    width: 600px;
    margin-right: 80px;
}

/*Contact*/

img {
    margin-top: 50px;
    margin-left: 50px;
}

.floated-text {
    position: relative;
    float: right;
    margin-right: 400px;
}

/*checkoutsuccess*/

.box {
    background-color: white;
    width: 700px;
    height: 500px;
    border: solid black;  
}

.comph1{
    color: black;
    text-align: center;
}

.fa-circle-check {
    color: green;
    margin-left: 270px;
    margin-top: 50px;
}

.comph2 {
    color: black;
    text-align: center; 
}

@media only screen and (max-width:1390px) {
    .floated-right {
        float:inline-end;
        width: 60%;
    }

    p {
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .floated-text {
        margin-right: 80px;
    }

    img {
        width: 60%;
    }
}

@media only screen and (max-width:600px) {
    .floated-right {
        display: none;
    }

    p {
        margin-right: 15px;
        margin-bottom: 20px;
        align-items: center;
    }

    .floated-text {
        margin-right: 50px auto;
    }

    img {
        display: none;
    }
}

    