@media only screen and (min-width:481px) and (max-width: 1200px)  {
  body {
    width: 90%;
  }  
}


/*about*/

body{
    background-color: #658087;
    margin: 0;
}

h1 {
text-align: left; 
margin-left: 15px; 
margin-top: 80px;
}

p {
font-size: 26px; 
margin-left: 15px; 
margin-top: 80px;
color: white;
}


.floated-right {
    position: relative;
    float: right;
    margin-top: 10px;
    width: 600px;
    margin-right: 80px;
}


/*Contact*/

.floated-left {
    position: relative;
    float: left;
    margin-top: 7%;
    width: 600px;
    margin-left: 80px;
}

/*Jackets*/

.jackets {
    border: solid;
    border-color: black;
    border-width: 1px;
    }
    
.column {
    float: left;
    width: 20%;
    padding: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/*jacket spesific*/

body.jacketspesific {
    background-color: #ffffff;
}

.product-image {
    height: 600px;
    width: auto;
    margin-top: 0%;
    padding: 0%;
    border: solid;
}



body.checkout {
    background-color: #ffffff;
    margin: 0;
}

body.checkoutsuccess {
    background-color: #ffffff;
    margin: 0;
}
