@font-face {
    font-family: ;
    src: url();
}

body,
footer {
    background-color: #658087;
    color: #ffffff
}

header {
    background-color: #ffffff;
    color: black;
}

.logo {
    max-width: 300px;
    background-color: #ffffff; width: 1000px;
}