.logo {
    max-width: 300px;
    background-color: #ffffff; width: 100%;
}

a {
    color: black;
    text-decoration: none;
    border: groove;
    border-width: 1px;
    border-radius: 5px;
}


header {
    position: 
    width: 100%;
    height: 170px;
    left: 0px;
    top: 0px;
            
    background: #FFFFFF;
    border: 1px solid #000000;
    }

nav li {
    display: inline-block;
    }

nav ul {
    padding: 0px;
    }


body {
    background-image: url("backgroundpicturerainydays.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    background-position-y: 170px;
}

h1 {
    font-size: 40px;
    color:#ffffff;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}

